
h1 {
  text-align: center;
  font-family: Georgia, serif;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

div {font-size: medium;
font-family: Arial, Helvetica, sans-serif;}

/* HEADER (i dont have one) */

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

/* FOOTER */

.footer {
  color: white;
  background-color: black;
  text-align: center;
  height: 170px;
  padding: 10px;
}

/* NAVBAR */

#navbar {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1000;//add z-index
}

#navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: right;
  padding: 18px 18px;
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 16px;
}

#navbar a:hover {
  background-color: #edeae6;
  color: black;
}


.topnav-right {float: right;}

/* BUTTONS */

.button {
background-color: white;
border: 2px solid black;
color: black;
padding: 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-family: Georgia, serif;
font-size: 18px;
margin: 2px 2px;
cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white
}

/* COLUMNS*/

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 65%;
  padding-left: 50px;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 35%;
  text-align: center;
  padding-left: 50px;
}

/* Three image containers */
.imgcolumn {
  float: left;
  width: 33.33%;
  padding: 5px;
  object-fit: cover;
}

/* FOOTER COLUMNS */

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* RESPONSIVE LAYOUTS*/

/* columns -- Responsive layout - when the screen is less than 800px wide,
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* navbar-- Responsive layout - when the screen is less than 400px wide,
make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
