

/* HEADER (i dont have one) */

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

p.padding {padding-left: 50px;
padding-right: 50px;}

p.small {font-size: small;}

p.left {text-align: left;}


/* FOOTER */

footer {
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
}

footer.column {
  float: left;
  width: 50%;
  padding: 15px;
}

/* NAVBAR */

#navbar {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1000;//add z-index
}

#navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: right;
  padding: 18px 18px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#navbar a:hover {
  background-color: #edeae6;
  color: black;
}


.topnav-right {float: right;}


#navbar .icon {
  display: none;
}
/* BUTTONS */

.button {
background-color: white;
border: 2px solid black;
color: black;
padding: 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 18px;
margin: 2px 2px;
cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white
}

/* COLUMNS*/

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 67%;
  padding-left: 50px;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 33%;
  text-align: center;
  padding-left: 50px;
}

.leftcolumnsponsor {
  float: left;
  width: 33%;
  text-align: center;
  padding: 0px 25px;
}
.rightcolumnsponsor {
 float: right;
 width: 67%;
 text-align: left;
 padding-right: 50px;
}


/* Three image containers */
.imgcolumn {
  float: left;
  width: 33.33%;
  padding: 5px;
  object-fit: cover;
}

/* FOOTER COLUMNS */

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 15px;
}


.aboutcolumn {
  float: left;
  width: 50%;
  padding: 15px;
}

.vendorcolumn {
  float: left;
  width: 25%;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* RESPONSIVE LAYOUTS*/

/* columns -- Responsive layout - when the screen is less than 800px wide,
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1100px) {
  .aboutcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 1050px) {
  .rightcolumnsponsor, .leftcolumnsponsor {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn, .column, .vendorcolumn {
    width: 100%;
    padding: 0;
  }
}


@media screen and (max-width: 200px) {
  .footercolumn {
    width: 100%;
    padding: 0;
  }
}


/* navbar-- Responsive layout - when the screen is less than 980px wide,
make the navigation links stack on top of each other instead of next to each other */


@media screen and (max-width: 980px) {
  #navbar a {display: none;}
  #navbar a.icon {
    float: left;
    display: inline-block;
  }
}

@media screen and (max-width: 980px) {
  #navbar.responsive {position: relative;}
  #navbar.responsive .icon {
    position: fixed;
    left: 0;
    top: 0;
  }
  #navbar.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}
